<h1>Liste des catégories</h1>
<button class="btn btn-outline btn-sm" (click)="addCategory()">Ajouter une catégorie</button>

<!-- Modal Add or Edit -->
<app-add-or-edit-category-modal
*ngIf="categoryModalOpen"
[categorie]="selectedCategory"
(finish)="handleFinish($event)"
>
</app-add-or-edit-category-modal>
<!-- End Modal Add or Edit -->

<!-- Modal Delete -->
<app-delete-category-modal
*ngIf="delete"
[category]="categoryToDelete"
(cancel)="handleCancelDelete()"
(confirm)="handleConfirmDelete()"
>
</app-delete-category-modal>
<!-- End Modal Delete -->

<clr-datagrid>
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Libellé</clr-dg-column>

  <clr-dg-row *clrDgItems="let categorie of categories">

    <!-- Actions -->
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onEdit(categorie)">Modifier</button>
      <button class="action-item" (click)="onDelete(categorie)">Supprimer</button>
    </clr-dg-action-overflow>
    <!-- End Actions -->

    <clr-dg-cell>{{categorie.idCategorie}}</clr-dg-cell>
    <clr-dg-cell>{{categorie.libelle}}</clr-dg-cell>
  </clr-dg-row>


<!-- Inside the full datagrid declaration -->
<clr-dg-footer>
  <clr-dg-pagination #pagination [clrDgPageSize]="10">
    <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Catégories par page</clr-dg-page-size>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} catégories
  </clr-dg-pagination>
</clr-dg-footer>

</clr-datagrid>
